<div class="container">
    <h1>
        {{ title }}!
    </h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div style="text-align:left;width:80%;margin-left: 10%;float:left">
            <a [routerLink]="['home']">Home</a> |
            <a [routerLink]="['enrollform']">Enroll</a> |
        </div>
        <div style="float: right">
            <button (click)="logout()">Logout</button>
        </div>
    </nav>
</div>
<div style="clear:both;text-align: center">
    <router-outlet></router-outlet>
</div>