<p>Dear
    <%=user.name%>
</p>
<h2>
    <%user.message%>
</h2>
<p>Thank you for submitting your form.</p>
<br>
<p>Your application will be reviewed carefully, and if accepted you will receive a link to take the exam.</p>
<br>
<p>Best regards,<br> The admission team.</p>