<p>Dear
    <%=user.name%>
</p>
<h2>
    <%user.message%>
</h2>
<p>Thank you for submitting your form.</p>
<br>
<p>Your application has been reviewed carefully. Congratulations you have passed the first phase.
</p>
<p>Please goto <a href="https://localhost:4200/startexam/">Exam Page</a> to take your exam</p>
<br>
<p>Best regards,<br> The admission team.</p>