<!-- <ng-container *ngIf="user | async; else login">
Successful ok
</ng-container> -->

<!-- <ng-template #login>
<div class="col-md-6" style="margin-left:25%">
<h6>Authenticate Student By Email</h6>
<form (ngSubmit)="onSubmit()" #todoForm="ngForm">
    <div class="form-col">
        <div class="col-auto">
            <input
              type="text"
              class="form-control"
              placeholder="your email"
              id="email"
              [(ngModel)]="email"
              name="email"
              #responsible="ngModel">
          </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Send Authentication Email</button>
        </div>
      </div>
</form>

<hr>
  <div *ngIf="emailSent">email sent</div>
  <div *ngIf="errorMessage">{{errorMessage}}</div>

</div>
</ng-template> -->


<ng-container *ngIf="user | async; else login">
  Successful ok
  <button (click)="redirect()">Goto Exam Page</button>

  </ng-container>
  <ng-template #login>

    <label for="email" class="label">Passwordless Auth</label><br>
    <input type="email" class="input" [(ngModel)]="email">


    <button class="button is-primary"
            [disabled]="emailSent"
            (click)="sendEmailLink(email)">

            Get Login Link

    </button>
    <hr>
    <div *ngIf="emailSent">email sent</div>
    <div *ngIf="errorMessage">{{errorMessage}}</div>
  </ng-template>
