<br/>
<h5>Ready the instructions carefully</h5>
<br/>
<br/>
<div class="container ">
    <p>
      bsfbyfdbyufyubgfbyugyuyubbyu    bbj bi ji ub ub ub ub ubub ub ub ub buub ub 
       m km om kmk 
        km km km  
    </p>  
    <p>
       bsfbyfdbyufyubgfbyugyuyubbyu    bbj bi ji ub ub ub ub ubub ub ub ub buub ub 
       m km om kmk 
         km km km  
    </p>
     <p>
          bsfbyfdbyufyubgfbyugyuyubbyu    bbj bi ji ub ub ub ub ubub ub ub ub buub ub 
           m km om kmk 
            km km km  
      </p>
      <p>
           bsfbyfdbyufyubgfbyugyuyubbyu    bbj bi ji ub ub ub ub ubub ub ub ub buub ub 
            m km om kmk 
             km km km  
      </p>
    <button class="btn btn-primary" (click)="onClick()">Start Exam</button>
  </div>