<br/>
<h4>Exam</h4>
<br/>
<br/>
<h6>first question</h6>
<p>{{questions[0]?.text}}</p>
<br/>
<div id="editor">
    var x = "All this is syntax highlighted";
    return x;
</div>
<button class="btn btn-secondary" >Submit Question 1</button>
<br/>
<br/>
<br/>
<h6>second question</h6>
<p>{{questions[1]?.text}}</p>
<br/>
<div id="editor2">
    var x = "All this is syntax highlighted";
    return x;
</div>
<button class="btn btn-secondary" >Submit Question 2</button>
<br/>
<br/>
<br/>
<h6>third question</h6>
<p>{{questions[2]?.text}}</p>
<br/>
<div id="editor3">
    var x = "All this is syntax highlighted";
    return x;
</div>
<button class="btn btn-secondary" >Submit Question 2</button>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<button class="btn btn-success" >Finish Exam</button>
<br/>
<br/>
<br/>
